In [4]:
import pandas as pd
import random
import matplotlib.pyplot as plt 
import numpy as npnp

p = 0.001

df = pd.read_csv(
    'SUP_ALUNO_2019.csv',
    header=None,
    encoding = "ISO-8859-1",
    skiprows=lambda i: i > 0 and random.random() > p,
)

df.head()

                                                   0
0  NU_ANO_CENSO|CO_IES|TP_CATEGORIA_ADMINISTRATIV...
1  2019|1|1|1|1||3|1|1|1|0421D01|774B47484142E356...
2  2019|1|1|1|1||1|1|1|1|0421D01|88472E75182D4617...
3  2019|1|1|1|1||1|1|1|1|0421D01|989FC78A19C18EEA...
4  2019|1|1|1|2||3|1|1|1|0311E01|29F0B90F26AA1B3C...